/* GENERAL */
*{
  font-family: Garamond, serif;
    font-size: 22px;
    color: azure;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #142938;
}

main {
    padding: 20px;
}

/*CLASSES*/
nav.section {
  border-style:groove;
  border-color: #9256CB;
  border-width: 4px;

  background-color: #063150;
  text-align: right;
  word-spacing: 60px;
  color: azure;

  background-size: cover;
  padding: 30px;
  margin: 10px;
  text-align: right;
}

#gif-drasil {
    position: absolute;
    top: 25px;
    left: 19px;
    text-align: left;
}

nav a{
  text-decoration: none;
}

.quimera {
    margin-top: 50px;
    text-align: center;
}

