/* GENERAL */
*{
    font-family: Garamond, serif;
    font-size: 22px;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background-color: white;
  }
  
  main {
    padding: 20px;
  }
  
  nav a{
    text-decoration: none;
  }
  
  p{
    color:rgb(33,33,33);
    text-align: justify;
  }
  
/*CLASSES*/
  nav.section {
    border-style:groove;
    border-color: #007055;
    border-width: 5px;
  
    text-align: right;
    word-spacing: 60px;
    color: rgb(33,33,33);
  
    background-size: cover;
    padding: 30px;
    margin: 10px;
    text-align: right;
  }
  
  hr.division{
    border: 1px solid rgb(33,33,33);
  }
  
  h1.titulote{
    color: rgb(33,33,33);
    font-size: 50px;
    text-align: center;
  }
  
  
/*ID*/
  
  #loyola_logo {
      position: absolute;
      top: 10px;
      left: 20px;
      text-align: left;
  }
  
  #grid-gameish {
    display: grid;
    height: 600px;
    align-content: center;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
  
  #grid-gameish > div {
    background-color: white;
    align-content: center;
    font-size: 30px;
  }
  
  #grid-gameish > div > h1{
    color: rgb(33,33,33);
    font-size: 40px;
  }
  
  #gif_ejemplo {
    text-align: left;
    padding: 20px;
  }
  
  #gif_explicacion{
    text-align: center;
    padding-left: 20px;
    padding-right: 15px;
  }
  
  #gif_explicacion > p{
    color:rgb(33,33,33);
    text-align: justify;
  }
  
  #gif_explicacion > input{
    cursor: pointer;
    color: rgb(33,33,33);
    background-color: #42AB82;
    height: 50px;
    width: 200px;
  }
  
  #quienes_somos{
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  
  #quienes_somos > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #grid-ubicacion{
    display: grid;
    height: 600px;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: white;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;
  }