/* GENERAL */
  *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background-color: white;
  }
  
  main {
    padding: 20px;
  }
  
  nav a{
    text-decoration: none;
  }
  
  p{
    color:rgb(33,33,33);
    text-align: justify;
  }

  hr{
    border: 1px solid #005133;
  }
  
/*CLASSES*/
  .stick{
    position: sticky;
  }

  nav.section {
    border-style:groove;
    border-color: #007055;
    border-width: 5px;
  
    text-align: right;
    word-spacing: 60px;
    color: rgb(33,33,33);
  
    background-size: cover;
    padding: 30px;
    margin: 10px;
    text-align: right;
  }
  
  h1.titulote{
    color: rgb(33,33,33);
    font-size: 50px;
    text-align: center;
  }
  

/*ID*/
  #loyola_logo {
    position: absolute;
    top: 15px;
    left: 30px;
    text-align: left;
  }
  
  #grid-portada {
    display: grid;
    height: 600px;
    align-content: center;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: white;
  }
  
  #grid-portada > div {
    background-color: white;
    align-content: center;
    font-size: 30px;
  }
  
  #grid-portada > div > h1{
    color: rgb(33,33,33);
    font-size: 40px;
  }
  
  #poster {
    text-align: left;
    padding: 20px;
  }
  
  #explicacion{
    text-align: center;
    padding-left: 20px;
    padding-right: 15px;
  }
  
  #explicacion > p{
    color:rgb(33,33,33);
    text-align: justify;
  }
  
  #donde_es{
    text-align: justify;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  
  #donde_es > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #grid-ubicacion{
    display: grid;
    height: 600px;
    align-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    background-color: white;
    padding-top: 10px;
  }

  #quiero_ir{
    cursor: pointer;
    color: rgb(33,33,33);
    background-color: #42AB82;
    height: 50px;
    width: 200px;
  }