* {
  font-family: "Times New Roman", Times, serif;
  color:azure;
}

body{
background-color: rgb(33,33,33);
}

p{
font-size: 16px;
}

div{
padding: 10px;
}

.div_ejemplo
{
padding: 10px;
font-size: 13px;
background-color: rgb(50, 50, 50);
}


  .grid-container-borders-around {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin:80px;
  }
  
  #grid-item-left{
    border-left-style: double;
	border-color: rgb(198, 133, 58);
	border-width: thick;

    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #grid-item-bottom-top{
    border-top-style: double;
    border-bottom-style: double;
	border-color: rgb(198, 133, 58);
	border-width: thick;

    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #grid-item-right{
    border-right-style: double;
	border-color: rgb(198, 133, 58);
	border-width: thick;
    
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }


#border
{
border-style: solid;
border-color: rgb(198, 58, 58);
border-width: thick;
}

#border_ejemplo
{
border-style: inset;
border-color: rgb(255, 80, 80);
border-width: thick;
}

#borders_around
{
border-style: dotted dashed solid ridge;
border-color: rgb(198, 133, 58);
border-width: thick;
}