* {
  font-family: "Times New Roman", Times, serif;
  color:azure;
}

body{
background-color: rgb(33,33,33);
}

p{
font-size: 16px;
}

div{
padding: 10px;
}

.div_ejemplo
{
padding: 10px;
font-size: 13px;
background-color: rgb(50, 50, 50);
}

#border
{
border-style: solid;
border-color: rgb(198, 58, 58);
border-width: thick;
}

#border_ejemplo
{
border-style: inset;
border-color: rgb(255, 80, 80);
border-width: thick;
}

#borders_around
{
border-style: dotted dashed solid ridge;
border-color: rgb(198, 133, 58);
border-width: thick;
}

  .grid-container-borders-around {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  #grid-item-left{
    border-left-style: double;
    border-color: rgb(198, 133, 58);
    border-width: thick;

    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  #grid-item-bottom-top{
    border-top-style: double;
    border-bottom-style: double;
    border-color: rgb(198, 133, 58);
    border-width: thick;

    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  #grid-item-right{
    border-right-style: double;
    border-color: rgb(198, 133, 58);
    border-width: thick;
    
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

#border-radius
{
border-style: solid;
border-color: rgb(222, 206, 63);
border-width: thick;  
border-radius: 30px;
}

  #border_radius_ejemplo
  {
  border-style: solid;
  border-color: rgb(222, 206, 63);
  border-width: thick;  
  border-radius: 30%;
  }

#background-image
{
  background-image: url("https://www.xtrafondos.com/descargar.php?id=2898&resolucion=3840x2160");
  border-style: solid;
  border-color: rgb(67, 58, 198);
  border-width: thick;
}

  #background-image-ejemplo
  {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200801/pngtree-dull-unicorn-background-colorful-image_375368.jpg");
    position: relative;
    left: 0px;
    width: 30%;
  }

#color{
  border-style: solid;
  border-color:rgb(72, 49, 100);
  border-width: thick;
}

#color_ejemplo{
  padding: 10px;
  font-size: 13px;
  background-color:rgb(72, 49, 100);
}

#font
{
  border-style: solid;
  border-color: rgb(58, 135, 198);
  border-width: thick;
}

#font-family
{
  border-style: solid;
  border-color: rgb(198, 58, 179);
  border-width: thick; 
}

  .family1 {
    font-family: "Lucida Console";
  }

  .family2 {
    font-family: Arial;
  }

  .family3 {
    font-family: "Brush Script MT";
  }

#font-style{
  border-style: solid;
  border-color: rgb(58, 189, 198);
  border-width: thick; 
}

  p.font-weight{
    font-weight: bold;
    font-style: italic;
  }

#width{
  border-style: solid;
  border-color: rgb(198, 58, 81);
  border-width: thick; 
}

  #width_ejemplo{
    width: 50%;
    border-style: dashed;
    border-color: rgb(198, 58, 81);
    border-width: thin; 
  }

  #width_ejemplo2{
    width: 500px;
    border-style: dashed;
    border-color: rgb(198, 58, 81);
    border-width: thin; 
  }

#height{
  border-style: solid;
  border-color: rgb(88, 58, 198);
  border-width: thick;  
}

#list-style{
  border-style: solid;
  border-color: rgb(46, 164, 82);
  border-width: thick;  
}

  
  .list-style_ejemplo_color{
    background: #dfffdc;
    color: rgb(1, 14, 5);
  }

#margin{
  border-style: solid;
  border-color: rgb(63, 58, 198);
  border-width: thick;  
}

  #margin_ejemplo{
    margin: 50px;
    border-style: dashed;
    border-color: rgb(63, 58, 198);
    border-width: thin; 
  }

  #margin_ejemplo2{
    margin: 25px 100px 75px 300px;
    border-style: dashed;
    border-color: rgb(63, 58, 198);
    border-width: thin; 
  }

#padding{
  border-style: solid;
  border-color: rgb(58, 198, 95);
  border-width: thick;  
}

  #padding_ejemplo{
      padding: 50px;
      border-style: dashed;
      border-color: rgb(58, 198, 95);
      border-width: thin;   
  }
  #padding_ejemplo2{
    padding: 25px 100px 75px 300px;
    border-style: dashed;
    border-color: rgb(58, 198, 95);
    border-width: thin;   
}

#overflow{
  border-style: solid;
  border-color: rgb(58, 114, 198);
  border-width: thick;  
}

.grid-container-overflow {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

  #grid-item-visible{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

    width: 300px;
    height: 100px;
    overflow: visible;
  }

  #grid-item-hidden{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

    width: 300px;
    height: 100px;
    overflow: hidden;
  }

  #grid-item-scroll{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    
    width: 300px;
    height: 100px;
    overflow: scroll;
  }

#display{
  border-style: solid;
  border-color: rgb(198, 100, 58);
  border-width: thick; 
}

.grid-container-display {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

  #grid-item-d1{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

    width: 300px;
    height: 100px;
    overflow: visible;
  }

  #grid-item-d2{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

    width: 300px;
    height: 100px;
    overflow: hidden;
  }

  #grid-item-d3{
    background-color: rgb(50, 50, 50);
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    
    width: 300px;
    height: 100px;
    overflow: scroll;
  }

#position{
  border-style: solid;
  border-color: rgb(58, 198, 154);
  border-width: thick; 
}

#position_ejemplo{
  padding: 10px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
    
  width: 300px;
  height: 100px;
  overflow: scroll;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
  align: right;
  color:black;
}

#filter{
  border-style: solid;
  border-color: rgb(134, 8, 94);
  border-width: thick; 
}

.blur {filter: blur(4px);}
.brightness {filter: brightness(0.30);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px rgb(134, 8, 94));}