* {
  margin: 0;
  font-family: Verdana, sans-serif;
}

img{
  width: 90px;
  height: 90px;
}

body{
  background-color: black;
  color:azure;
}

/* =========================================== */
/* Class */
/* =========================================== */

.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.grid-container_top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.grid-container_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.grid-container_line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.grid-container_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 70px;
}

.item-flex {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-flex_main {
  padding: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: #ffff;
}

.item-flex_vacio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.item-flex_imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.sub{
  font-size: small;
}

.submit
{
  cursor: pointer;   
  background-color: #DF5890;
  
}

/* =========================================== */
/* ID */
/* =========================================== */

#header_top{
  background-color: #253f4b;
  color: #ffff;
}

#header_sub{
  background-color: #253f4b;
  color: #ffff;
  grid-column: 1 / -1;
  grid-row: 3;
}

#main {
  grid-column: 1 / -1;
  background-color: #b87d2d;
  grid-row: 1 / span 8;
}


#html{
  grid-column: 1 / span 1;
  grid-row: 4;
}

#css {
  grid-column: 2 / span 1;
  grid-row: 4;
}

#js {
  grid-column: 3 / span 1;
  grid-row: 4;
}

#copyright{
  background-color: #253f4b;
  font-family: arial, helvetica, sans-serif;
  font-size: x-small;
}