* {
    font-family: "Times New Roman", Times, serif;
}

body {
    height: 100vh;
    background-color:#2F3244;
}

.grid-container {
    display:grid;
    height: 100%;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    gap:15px;
}

.grid-item{
    padding: 10px;
    border: 1px black solid;
    background-color: azure;
}